html, body {
    text-align: center;
    background-color: lightblue;
    height: 100%;
}

content {
    height: 100%
}

.waver, .wavel {
    font-family: Courier New, Serif;
}

.blogpost {
    white-space: pre-line;
}

.blogname {
    list-style: none;
    font-family: Arial, Helvetica, Serif;
}

#above input {
    width: 60%;
}

#footer {
    font-family: Arial, Helvetica, Serif;
    font-size: small;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    background-color: #A9A0FF;
}

.automata_layer li {
    display: inline-block;
}

.automata_layer li canvas {
    display: block;
}

.automata_layer li input {
    width: 15px;
    height: 15px;
    margin: auto;
    display: block;
}

#rule_holder {
    display: inline;
}
#rule_holder p {
    display: inline;
}

.autobutton {
    width: 156px;
    height: 64px;
}

.movebutton {
    height: 64px;
    width: 64px;
}

.spacebelow {
    margin-bottom: 50px;
}

.left {
    padding-right: 20px;
    float: left;
}

.right {
    padding-left: 20px;
    float: right;
}
