{% extends "base.html" %}

{% block content %}
<div class="about">
  <p>
    This is a spin off a popular <a href="https://en.wikipedia.org/wiki/Elementary_cellular_automaton">Elementary Cellular Automata</a>
  </p>
  <p>
    Each cell in the grid will either be on or off, based on the arrangement of its neighbors in the previous frame.
    To know if any particular cell should be on or off, there is a rule to refrence.
    Essentially, you take every possible arrangement of cells and assign it a digit.
    With 8 nieghbors and 2 states there are 2^8 or 256 possible arrangement of cells, therefore there are 2^256 possible rules.
    <br>
    Consider the following center cell
    <canvas class="demo" id="01001111"></canvas>
    Reading from left to right and top to bottom, 01001111.
    In decimil, this is 79. so the 79th digit out of 256 in our rule will be the state of the cell in the next generation.
  </p>
  <p>
    In the <a href="/automata/builder">builder</a> I made you can sculpt your own rules. Yes, I know the UX is terrible. I'll work on it.
    I have a better version written with python and pygame <a href="https://github.com/doctorMcbob/CellularAutomation">on my github</a>
  </p>
</div>
<footer>
  <script src="/static/js/demo.js"></script>
</footer>
{% endblock %}
