{% extends "base.html" %}

{% block title %} Automata {% endblock %}

{% block content %}
<div id="above">
  <div>
    <a href="/automata/about">ABOUT</a>
    <a href="/automata/builder">BUILDER</a>
  </div>
  <div>
    Rule:
    <input type="text" id="rule" value="{{ rule }}"></input>
    <button style="display:inline;" type="button" id="set_rule" onclick="set_rule()">
      Set Rule
    </button>
  </div>
</div>
<br>
<canvas id="board"></canvas>
<br>
<button class="autobutton" type="button" id="play" onclick="play()"> Play </button>
<button class="autobutton" type="button" id="next" onclick="next()"> Step 1 Frame </button>
<button class="autobutton" type="button" id="new" onclick="newrule()"> Random Rule </button>
<br>
<p> Color: </p>
<button class="autobutton" type="button" id="classic" onclick="new_color_state('classic')"> Classical </button>
<button class="autobutton" type="button" id="classic" onclick="new_color_state('density')"> Density </button>
<button class="autobutton" type="button" id="classic" onclick="new_color_state('direction')"> Direction </button>
<br>
<p> color offset for density driven color </p>
R: <input onchange="newred(this.value)" min="0" max="255" value="64" type="range" id="states"></input>
G: <input onchange="newblue(this.value)" min="0" max="255" value="128" type="range" id="states"></input>
B: <input onchange="newgreen(this.value)" min="0" max="255" value="192" type="range" id="states"></input>

<script src="/static/js/grid.js"></script>
{% endblock %}

{% block footer %}
{% endblock %}
