{% extends "base.html" %}

{% block title %} Automata {% endblock %}

{% block content %}
<div id="above">
  <div>
    <a href="/automata/about">ABOUT</a>
    <a href="/automata/builder">BUILDER</a>
  </div>
  <div>
    Rule:
    <input type="text" id="rule" value="{{ rule }}"></input>
    <button style="display:inline;" type="button" id="set_rule" onclick="set_rule()">
      Set Rule
    </button>
  </div>
</div>
<br>
<canvas id="board"></canvas>
<br>
<button class="autobutton" type="button" id="play" onclick="play()"> Play </button>
<button class="autobutton" type="button" id="next" onclick="next()"> Step 1 Frame </button>
<button class="autobutton" type="button" id="new" onclick="newrule()"> Random Rule </button>
<script src="/static/js/grid.js"></script>
{% endblock %}

{% block footer %}
{% endblock %}
