<!DOCTYPE HTML>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/js/script.js"></script>
    <title> {% block title %} {% endblock %} - Wesleys Cool Site </title>
    {% endblock %}
  </head>

  <body>
    <div id="header">
      <a href="/">HOME</a> | <a href="/blog">BLOG</a> | <a href="/automata">GENERIC AUTOMATA</a> | <a href="/lifelike">LIFE LIKE AUTOMATA</a>| <a href="/maze">MAZE</a> | <a href="/turing">TURING MACHINE</a> | <a href="/drop">DROP</a>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      wootenwesley@gmail.com <a href="https://www.github.com/doctorMcbob/">my github</a> 
      {% endblock %}
    </div>
  </body>
</html>
