{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}

<h1> <span class="wavel">,.+*"*+.,.+*"*+.</span> Welcome <span class="waver">.+*"*+.,.+*"*+.,</span> </h1>
<p> You finally made it </p>
<p> I'm Wesley. This is my website. </p>

<p> I finally have a playtest-able demo if you want to try out the game im working on </p>
<iframe frameborder="0" src="https://itch.io/embed/2252067?border_width=0&amp;bg_color=26c9fe&amp;link_color=ee2c2c" width="550" height="165"><a href="https://wxly.itch.io/red-pants-deluxe-2">Red Pants Deluxe 2 (Not Complete | Demo Mode | Dont Judge Me) by WXLY</a></iframe>
<br>
<img src="/static/img/tas.gif">
<br>

<p> Here's <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life"> Game of Life </a> </p>

<canvas id="board"> </canvas>
<br>

<button class="lifebtn" type="button" id="back" onclick="back()"> Back </button>
<button class="lifebtn" type="button" id="next" onclick="next()"> Next </button>
<button class="lifebtn" type="button" id="next" onclick="reset()"> Reset </button>
<button class="lifebtn" type="button" id="reset" onclick="fill()"> Fill </button>
<button class="lifebtn" type="button" id="clear" onclick="clearboard()"> Clear </button>
<button class="lifebtn" type="button" id="play" onclick="play()"> Play </button>
<script src="static/js/life.js"></script>

{% endblock %}
