{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}

<h1> <span class="wavel">,.+*"*+.,.+*"*+.</span> Welcome <span class="waver">.+*"*+.,.+*"*+.,</span> </h1>
<p> You finally made it </p>
<p> I'm Wesley. This is my website. </p>

<p> Check out my latest video game for free on itch.io </p>
<iframe frameborder="0" src="https://itch.io/embed/1765285?bg_color=DDC4FF&amp;link_color=5828B8&amp;border_color=5828B8" width="552" height="167"><a href="https://wxly.itch.io/blind-witch">Rage of the Blind Witch by WXLY, lilligant101</a></iframe>
<br>
<img src="/static/img/tas.gif">
<br>

<p> Here's <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life"> Game of Life </a> </p>

<canvas id="board"> </canvas>
<br>

<button class="lifebtn" type="button" id="back" onclick="back()"> Back </button>
<button class="lifebtn" type="button" id="next" onclick="next()"> Next </button>
<button class="lifebtn" type="button" id="next" onclick="reset()"> Reset </button>
<button class="lifebtn" type="button" id="reset" onclick="fill()"> Fill </button>
<button class="lifebtn" type="button" id="clear" onclick="clearboard()"> Clear </button>
<button class="lifebtn" type="button" id="play" onclick="play()"> Play </button>
<script src="static/js/life.js"></script>

{% endblock %}
