{% extends "base.html" %}

{% block title %} APDC {% endblock %}

{% block content %}
<h3>APDC : Another Procedural Dungeon Crawler</h3>
<div style="display: inline">
  <p style="display: inline;">
    Life: <div style="display: inline; padding-right:40px;" id="HP"></div>
    Strength: <div style="display: inline;padding-right:40px;" id="STR"></div>
    INV: <div style="display: inline;" id="INV"></div>
  </p>
</div>
<canvas id="board"></canvas>
<script>
  function drawLoadingScreen () {
  const W = 48; const H = 32;
  const PW = 16;
  
  const canvas = document.getElementById("board");
  const ctx = canvas.getContext("2d");
  ctx.canvas.width = W*PW; ctx.canvas.height = H*PW;
  ctx.font = String(PW) + "px Arial";
  
  ctx.fillStyle = "#CFCFCF";
  ctx.fillRect(0, 0, PW*W, PW*H);
  ctx.fillStyle = "#000000";
  ctx.fillText("Building your tower...", 3*PW, 3*PW);
  ctx.fillText("STILL IN BETA! If you are stuck here, try reloading the page :E sorry! ", 3*PW, 8*PW);
  }
  drawLoadingScreen();
</script>
<br>
<div class="roguelikemove">
  <button class="movebutton" id="UP" onclick="move(0, -1)"> UP </button>
  <br>
  <button class="movebutton" id="LEFT" onclick="move(-1, 0)"> LEFT </button>
  <button class="movebutton" id="DOWN" onclick="move(0, 1)"> DOWN </button>
  <button class="movebutton" id="RIGHT" onclick="move(1, 0)"> RIGHT </button>
</div>
<div id="INVBTNS" class="roguelikeinv">
</div>

</body>
<footer>
  <script src="/static/js/roguelike.js"></script>
</footer>

{% endblock %}
